---
---
<footer class="w-full ml-[-15%] text-white text-center py-4 mt-12 justify-center ">
  <p>&copy; 2025 Pedro Mula Montesinos. All rights reserved.</p>
  <div class="mt-2 flex justify-center space-x-4">
    <i class="fa-brands fa-github"></i>
    <i class="fa-brands fa-linkedin"></i>

  </div>
</footer>
