---

---

<section id="projects" class="py-16 px-8">
  <h2 class="text-3xl font-bold text-green-400">Projects</h2>
  <div class="mt-6 bg-gray-800 p-4 rounded-lg">
    <h3 class="text-xl font-bold text-white">Valorant Hub</h3>
    <div class="flex items-center space-x-4">
      <img
        class="h-30 w-[50%]"
        src="/projects/ValorantHub.png"
        alt="img of ValorantHub "
      />
      <p class="mt-2 text-right">
        The Valorant Hub is a mobile-first web application designed to provide
        players with comprehensive information about the game. The platform
        offers detailed sections on agents, maps, and weapons, allowing users to
        explore and familiarize themselves with various aspects of the game. The
        user-friendly interface ensures easy navigation and accessibility across
        devices. This project was developed using modern web technologies to
        deliver a seamless and informative experience for Valorant enthusiasts.
      </p>
    </div>
  </div>
</section>
